@media screen and (max-width: 1199px)
	.header	
	&-text
		display: flex		
		align-items: center
	&-text_add 
		width: 155px
	&-icon
		position: absolute
		left: -1%
		top: 29%	
	&-text_mail 
  width: 225px
		& img
			position: absolute
   left: 283px
   top: 34%
	&-text_col a
		color: #00d1f9
		text-decoration: underline
		font-size: 13px
		font-weight: 300
	&-text_tel
		font-size: 18px
		font-weight: 400
		& a
			text-align: right

	.nav-link 
	 padding: 0 20px
	.menu
		&-block
			text-align: centers
		&-title 
	 	font-size: 24px	
	 	margin-bottom: 20px
	 &-descr
	 	margin-bottom: 55px
	 &-advant__text 
	  margin-bottom: 20px
	  margin-right: 45px
			& img 
	   margin-right: 8px
	.form-menu
		width: 331px
  height: 458px
		margin-bottom: 40px
		padding: 19px 25px
	.popup-form-header 
  font-size: 25px
  
	.wrapper-nav
		margin-bottom: 48px
		
	.material 
	 padding-top: 58px
	 padding-bottom: 58px
		&-button
			font-size: 12px
		 padding: 15px 50px
	.tools 
		padding-top: 58px
		padding-bottom: 58px
		&-button
			font-size: 12px
		 padding: 15px 50px
	.model 
		padding-top: 58px
		padding-bottom: 58px
		&-button
			font-size: 12px
		 padding: 15px 50px
	.material-lego
		left: 835px
  top: -127px
	 width: 257px
	.model-lego
	 right: -385px
	 left: 434px
	 top: -42px
	 width: 257px
		& img 
	  width: 277px
	.tools-lego
		right: 546px
	 left: -298px
	 top: -87px
		& img 
	  width: 257px
	.footer-mail
		display: none
// media 1199
 

@media screen and (max-width: 992px)
	.header
		padding-top: 15px
		padding-bottom: 15px
		&-text
			display: flex
   align-items: center
			flex-direction: column
			&_add
				margin-right: 15px
				margin-bottom: 7px
			&_col
	  	font-size: 11px 	
			&_tel 
	  	font-size: 16px
	  	text-align: right
	  &_mail
	  	padding-left: 31px
	  	& img
	  		display: none
	img.header-icon 
  display: none
	.wrapper-nav 
  margin-bottom: 33px
  padding-top: 15px
  padding-bottom: 15px
 .menu
 	&-block
 		text-align: centers
 	&-title 
  	font-size: 24px	
  	text-align: center
  &-descr
  	font-size: 17px
  	text-align: right
  	margin-bottom: 25px
  &-advant 
   margin-bottom: 5px
   width: 107%
  &-advant__text 
   margin-bottom: 17px
   font-size: 13px
	.form
		&-menu 
			width: 315px
	  height: 415px
			padding: 15px 18px
			margin-left: 29px
			&__text
				margin-bottom: 12px
			&__input
				padding-top: 13px
	   padding-bottom: 13px
	 &-button
	 	padding: 14px 42px
	.popup-form-header 
  font-size: 20px
 .popup-close     
  right: -19px
  top: -34px
 .popup-form-header__sub span
   font-size: 15px 
 .popup-form__label label
   font-size: 15px
	
	.section-title
		font-size: 25px
		margin-bottom: 20px
		&::after
			display: none

	.menu-link.menu-link_active
		display: none
	.material-lego
		display: none
	.tools-lego
		display: none
	.model-lego
		display: none
	.nav-link 
  padding: 0 7px
	.wrapper-nav
		margin-bottom: 37px


		.material
		padding-top: 25px
		padding-bottom: 35px
		&-block
			height: 155px
	.slider-mat, .slider-tools, .slider-model
		&_right 
 	 right: -27px
 	&_left 
   left: -23px

	.tools
		padding-top: 25px
		padding-bottom: 35px

	.model
		padding-top: 25px
		padding-bottom: 0

	.contacts 
  padding-top: 35px
  padding-bottom: 40px
		& .section-title 
   margin-bottom: 25px
  &-text 
   font-size: 18px
   font-weight: 500
   margin-bottom: 35px
   &_middle a
				color: #7c7c7c
   	text-decoration: underline
  &-input
  	margin-right: 0
  	margin-bottom: 8px
  	&_comment 
    margin-bottom: 15px
  &-button
  	margin-bottom: 15px

	.ordering
		padding-top: 35px
		padding-bottom: 0
		& h2 
			margin-bottom: 45px
		&-sect
   margin-bottom: 50px
			&_img
		 	margin-bottom: 12px 
				&	img 
   		width: 24%
  	&-text 
   	margin-bottom: 10px

	.shipping
		padding-top: 35px
		padding-bottom: 18px
		& .section-title 
   margin-bottom: 45px
		&-sect
			&-text span
				display: block
				font-weight: bold
			&_img 
    margin-bottom: 12px
    &.ship img
    	padding-top: 15px
    	margin-bottom: 0

	.link
		padding-top: 35px
		padding-bottom: 0
		&-block
			padding-bottom: 40px 
			&img 
   	margin-bottom: 14px
  &_bottom 
  	padding-top: 35px
   padding-bottom: 40px
   & h3
   	font-size: 17px
   & a
   	font-size: 16px

	.footer
		&-block
			display: flex
			align-items: center
			text-align: right
		&_img
			display: none
			&_text
				flex-direction: column
// media 992

@media screen and (max-width: 768px)
	.header
		margin-bottom: 15px
		&-text_add, &-text_mail
			display: none
 .menu
		&-link 
	  z-index: 20
	  display: block
	  width: 30px
	  height: 30px
	  border-radius: 45%
	  position: fixed
	  top: 20px
	  right: 51px
			span, span:before, span:after 
		  display: block
		  height: 2px
		  width: 18px
		  position: absolute
		  right: 5%
		  margin-right: -1px
		  top: 50%
		  margin-top: -1px
		  background-color: #fff
			span:before 
	 	 -webkit-transition: all 0.2s
		  transition: all 0.2s
		  content: ''
		  margin-top: -6px
		  background-color: #fff
			span:after 
		  transition: all 0.2s
		  content: ''
		  margin-top: 4px
		  background-color: #fff
			&_active span
				right: 5%			  
				background-color: transparent 
				&:before           
					transform: rotate(-45deg)
				 margin-top: 0
				 background-color: #fff
		 	&:after 
			  transform: rotate(-138deg)
			  margin-top: 0
			  background-color: #fff

 .popup 
  width: 440px
 	&-form 
  	padding: 35px 32px 50px 32px 
 	&__input 
   text-align: center
   margin: auto
   margin-bottom: 12px
   width: 79%;

	.nav-menu 
		background-color: purple
		position: fixed	
		width: 100vw	
		height: 100vh	
		z-index: 10	
		justify-content:	center
		align-items: center
		display: flex
	 right: -100vw 		
  & li
	  padding: 0
	  list-style: none
	  text-align: center	
	  & a
	  	color: #fff  
	  	line-height: 4
	  	letter-spacing: 	5px
	  	font-weight: 100	
			 &:hover 
			 	display: block	
			 	width: 100vw
				 text-decoration: none
					background-color: #fff
	.footer-mail
		display: none
	.wrapper-nav
		display: none
	.form-menu
		display: none

@media screen and (max-width: 576px)
 .popup 
  width: 440px
	 &-form 
   padding: 27px 32px 23px 31px
 		&__input 
   	text-align: center
  	 margin-bottom: 12px
  	 width: 303px
 	&-header 
   font-size: 20px
 		& span 
   	font-size: 15px
 .popup-close 
  right: 63px
   top: -8px
 .popup-title 
   font-size: 17px
 
@media screen and (max-width: 375px)
 .header
	 &-text_tel
		 margin-top: 35px
		&_add
			margin-right: 15px
		&_col
  	font-size: 11px 	
		&_tel 
  	font-size: 16px
  	text-align: right
  &_mail
  	padding-left: 15px
  	& img
  		padding-left: 53px
  &-icon_span
  	display: block
	.menu
		padding-bottom: 20px
		&-link
			margin-right: 10px
		&-title span
			display: block 
		&-descr
			text-align: center
		&-advant
			margin-left: 20px
			&_indent
				padding-left: 7px

	
