.model
 padding-top: 88px
 padding-bottom: 88px
 text-align: center
 position: relative
 &-lego
 	position: absolute
		top: -69px
		right: -92px
 &-block
 	width: 263px
 	height: 210px
 	margin-bottom: 25px
 	&_text
			font-size: 16px
			font-weight: 300
			margin-bottom: 25px
		&_text p
			font-size: 18px
			font-weight: 700
			margin-top: 25px
	&-sect_img
		max-height: 210px
  background-color: #fff
  margin-bottom: 27px
	&-button
		border: 1px solid #23bac1 
		color: #23bac1
		background-color: #fff
		font-size: 13px
		font-weight: 700
		text-transform: uppercase
  padding: 19px 57px
  cursor: pointer
		margin-bottom: 37px
		& img
			display: inline-block
   margin-right: 10px

	
.model-slider__wrap 
 width: 100%
 padding-left: 22px
 padding-right: 22px

.slider-model
 position: absolute
 top: -39px
 z-index: 99
 height: 100%
 width: 22px
	
.slider-model:hover 
  cursor: pointer

.slider-model_right 
  right: -53px
  background: url(../img/arrow_right.png) center no-repeat

.slider-model_left 
  left: -78px
  background: url(../img/arrow_left.png) center no-repeat
