* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

.main {
  color: #fff;
  padding-bottom: 44px;
  position: relative;
  background: url(../img/main/main-bgc-1.jpg) center no-repeat;
  background-size: cover;
  z-index: 0; }
  .main::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: -1; }

.header {
  font-family: "Myriad Pro";
  padding-top: 21px;
  padding-bottom: 22px;
  font-weight: 400;
  font-size: 13px;
  display: flex;
  align-items: center; }
  .header-contacts {
    display: flex;
    justify-content: flex-end; }
  .header-text {
    display: flex;
    align-items: center; }
  .header-text_add {
    margin-right: 192px; }
  .header-icon {
    position: absolute;
    left: 5%;
    top: 29%; }
    .header-icon span {
      display: block; }
  .header-text_mail {
    max-width: 272px;
    width: 272px;
    text-decoration: underline; }
    .header-text_mail img {
      position: absolute;
      left: 372px;
      top: 38%; }
  .header-text_col a {
    color: #00d1f9;
    text-decoration: underline;
    font-size: 13px;
    font-weight: 300; }
  .header-text_tel {
    font-size: 18px;
    font-weight: 400;
    text-align: right; }
    .header-text_tel a {
      text-align: right; }

.section-title {
  text-align: center;
  font-size: 36px;
  font-weight: 400;
  margin-bottom: 107px; }
  .section-title::after {
    content: '';
    display: block;
    height: 6px;
    background: url(../img/lain.png) center no-repeat;
    margin-top: 18px; }

.wrapper-nav {
  border-top: 1px solid #424242;
  border-bottom: 1px solid #424242;
  max-width: 1140px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 90px;
  list-style-type: none; }

.nav-link {
  padding: 0 30px;
  text-transform: uppercase; }

.menu {
  color: #fffafa; }
  .menu_block {
    margin-right: 0; }
  .menu-advant {
    margin-bottom: 38px; }
    .menu-advant__text {
      margin-bottom: 43px;
      margin-right: 63px; }
      .menu-advant__text img {
        vertical-align: middle;
        margin-right: 31px; }
    .menu-advant__descr {
      display: inline-block;
      width: 77%;
      vertical-align: middle; }
  .menu-title {
    color: #fffafa;
    font-size: 36px;
    font-weight: 400;
    margin-bottom: 58px; }
  .menu-descr {
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 61px; }

.form-menu {
  width: 360px;
  height: 475px;
  padding: 30px 39px;
  background-color: #fff;
  color: #000000;
  text-align: center; }
  .form-menu__middle {
    color: #7c7c7c;
    font-size: 11px;
    font-weight: 300; }
    .form-menu__middle a {
      color: #7c7c7c;
      text-decoration: underline; }
  .form-menu__text {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 27px; }
  .form-menu__input {
    padding-top: 18px;
    padding-bottom: 18px;
    max-width: 260px;
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid #e8e8e8;
    text-align: center; }
  .form-menu__comment {
    padding-top: 18px;
    padding-bottom: 18px;
    height: 90px;
    max-width: 315px;
    width: 260px;
    margin-bottom: 20px;
    border: 1px solid #e8e8e8;
    text-align: center; }

.form-button {
  box-shadow: 0 6px 18px rgba(28, 167, 173, 0.32);
  background-color: #23bac1;
  padding: 18px 38px;
  color: #fff;
  max-width: 204px;
  width: 100%;
  margin-bottom: 15px;
  text-transform: uppercase;
  font-size: 13px; }

.col-12.col-xl-4 {
  padding: 0; }

.overlay .popup {
  display: none;
  position: fixed;
  left: 50%;
  top: 100px;
  width: 752px;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
    -ms-transform-transform: translateX(-50%);
  color: #fff;
  z-index: 10; }

.popup-close {
  position: absolute;
  right: -20px;
  top: -30px;
  font-size: 35px;
  color: #23bac1;
  font-weight: 300;
  cursor: pointer; }

.overlay .popup-title {
  display: block;
  width: 100%;
  min-height: 71px;
  margin: 0;
  background-color: #23bac1;
  color: #fff;
  text-transform: uppercase;
  font-size: 19px;
  text-align: center;
  font-weight: 500;
  line-height: 71px; }

.overlay .popup-form {
  background: url("../img/main/main-bgc-1.jpg") center no-repeat;
  background-size: cover;
  padding: 35px 88px 50px 88px; }

.overlay .popup-form-header {
  padding: 0;
  font-weight: 400;
  line-height: 27px;
  text-align: center; }

.overlay .popup-form__label {
  display: block;
  margin-top: 23px;
  font-size: 20px;
  font-weight: 300;
  line-height: 30px; }

.overlay .popup-form__input {
  width: 365px;
  height: 56px;
  border-radius: 4px;
  border: none;
  margin-top: 17px;
  padding: 21px 18px;
  font-size: 14px;
  font-weight: 300;
  line-height: 42px; }

.overlay .popup-form__btn {
  width: 180px;
  height: 58px;
  margin-left: 16px;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
  color: #fff;
  background-color: #23bac1; }

.overlay .popup-form__note {
  margin: 9px;
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  line-height: 30px; }

.material {
  padding-top: 88px;
  padding-bottom: 88px;
  text-align: center;
  position: relative; }
  .material-lego {
    right: 13px;
    top: -146px;
    width: 238px;
    position: absolute; }
  .material-block {
    width: 263px;
    height: 188px;
    margin-bottom: 27px; }
  .material-sect_img {
    max-height: 210px;
    background-color: #fff;
    margin-bottom: 27px; }
  .material-sect-text {
    font-size: 16px;
    margin-top: 25px;
    padding-top: 13px; }
  .material-sect-text p {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 24px; }
  .material-button {
    border: 1px solid #23bac1;
    color: #23bac1;
    background-color: #fff;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 19px 57px;
    cursor: pointer; }
    .material-button img {
      display: inline-block;
      margin-right: 10px; }

.material-block {
  height: 200px;
  bafont-size: 2em;
  text-align: center; }

.material-slider__wrap {
  width: 100%;
  padding-left: 22px;
  padding-right: 22px; }

.slider-mat {
  position: absolute;
  top: -39px;
  z-index: 99;
  height: 100%;
  width: 22px; }

.slider-mat:hover {
  cursor: pointer; }

.slider-mat_right {
  right: -53px;
  background: url(../img/arrow_right.png) center no-repeat; }

.slider-mat_left {
  left: -79px;
  background: url(../img/arrow_left.png) center no-repeat; }

@font-face {
  font-family: 'Myriad Pro';
  src: url("../fonts/MyriadPro-Regular.eot");
  src: url("../fonts/MyriadPro-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadPro-Regular.woff") format("woff"), url("../fonts/MyriadPro-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Proxima Nova';
  src: url("../fonts/ProximaNova-Regular.eot");
  src: local("../fonts/Proxima Nova Regular"), local("../fonts/ProximaNova-Regular"), url("../fonts/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Regular.woff") format("woff"), url("../fonts/ProximaNova-Regular.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Proxima Nova Bl';
  src: url("../fonts/ProximaNova-Black.eot");
  src: local("../fonts/Proxima Nova Black"), local("../fonts/ProximaNova-Black"), url("../fonts/ProximaNova-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Black.woff") format("woff"), url("../fonts/ProximaNova-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'Proxima Nova 7';
  src: url("../fonts/ProximaNova-Bold.eot");
  src: local("../fonts/Proxima Nova Bold"), local("../fonts/ProximaNova-Bold"), url("../fonts/ProximaNova-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Bold.woff") format("woff"), url("../fonts/ProximaNova-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }

.tools {
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
  background-color: #f9f9f9;
  position: relative; }
  .tools-lego {
    right: 637px;
    left: -566px;
    top: -115px;
    position: absolute; }
  .tools-button {
    border: 1px solid #23bac1;
    color: #23bac1;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 19px 57px;
    cursor: pointer;
    background-color: #f9f9f9; }
    .tools-button img {
      display: inline-block;
      margin-right: 10px; }
  .tools-block {
    margin-bottom: 27px; }
  .tools-block_text {
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 22px;
    padding-top: 13px; }
  .tools-block_text p {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 25px; }

.tools-block {
  height: 200px;
  bafont-size: 2em;
  text-align: center; }

.tools-slider__wrap {
  width: 100%;
  padding-left: 22px;
  padding-right: 22px; }

.slider-tools {
  position: absolute;
  top: -12px;
  z-index: 99;
  height: 100%;
  width: 22px; }

.slider-tools:hover {
  cursor: pointer; }

.slider-tools_right {
  right: -53px;
  background: url(../img/arrow_right.png) center no-repeat; }

.slider-tools_left {
  left: -79px;
  background: url(../img/arrow_left.png) center no-repeat; }

.model {
  padding-top: 88px;
  padding-bottom: 88px;
  text-align: center;
  position: relative; }
  .model-lego {
    right: 69px;
    top: -67px;
    width: 238px;
    position: absolute; }
  .model-block {
    width: 263px;
    height: 210px;
    margin-bottom: 25px; }
    .model-block_text {
      font-size: 16px;
      font-weight: 300;
      margin-bottom: 25px;
      padding-top: 13px; }
      .model-block_text p {
        font-size: 18px;
        font-weight: 700;
        margin-top: 25px; }
  .model-sect_img {
    max-height: 210px;
    background-color: #fff;
    margin-bottom: 27px; }
  .model-button {
    border: 1px solid #23bac1;
    color: #23bac1;
    background-color: #fff;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 19px 57px;
    cursor: pointer;
    margin-bottom: 25px; }
    .model-button img {
      display: inline-block;
      margin-right: 10px; }

.model-slider__wrap {
  width: 100%;
  padding-left: 22px;
  padding-right: 22px; }

.slider-model {
  position: absolute;
  top: -39px;
  z-index: 99;
  height: 100%;
  width: 22px; }

.slider-model:hover {
  cursor: pointer; }

.slider-model_right {
  right: -53px;
  background: url(../img/arrow_right.png) center no-repeat; }

.slider-model_left {
  left: -78px;
  background: url(../img/arrow_left.png) center no-repeat; }

.contacts {
  padding-top: 95px;
  padding-bottom: 97px;
  background-color: #f9f9f9;
  text-align: center; }
  .contacts .section-title {
    margin-bottom: 50px; }
  .contacts-text {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 70px; }
    .contacts-text_middle {
      color: #7c7c7c;
      font-size: 12px; }
      .contacts-text_middle a {
        color: #7c7c7c;
        text-decoration: underline; }
  .contacts-input {
    width: 263px;
    height: 50px;
    border: 1px solid #cbc8c8;
    margin-right: 14px;
    text-align: center;
    margin-bottom: 24px; }
  .contacts-button {
    padding: 16px 67px;
    background-color: #23bac1;
    color: #fff;
    box-shadow: 0 6px 18px rgba(28, 167, 173, 0.32);
    text-transform: uppercase; }

.ordering {
  background: url("../img/order/order-black.jpg") center no-repeat;
  background-size: cover;
  color: #fff;
  padding-top: 94px;
  padding-bottom: 94px;
  text-align: center; }
  .ordering-sect a {
    color: #23bac1;
    font-size: 15px;
    font-weight: 300;
    text-decoration: underline; }
  .ordering-sect_img {
    margin-bottom: 34px; }
  .ordering-sect-text {
    margin-bottom: 26px; }

.shipping {
  padding-top: 94px;
  padding-bottom: 94px;
  text-align: center; }
  .shipping-sect span {
    font-weight: bold; }
  .shipping-sect_img {
    margin-bottom: 34px; }
  .shipping-sect-text {
    margin-bottom: 26px; }

.ship {
  padding-top: 21px; }

.link {
  background-color: #f9f9f9;
  padding-top: 60px;
  padding-bottom: 59px;
  text-align: center; }
  .link-mail {
    padding-top: 12px; }
  .link-block {
    font-size: 16px;
    font-weight: 300;
    line-height: 22px; }
  .link-block a {
    color: #000000;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    text-decoration: underline; }
  .link-block img {
    margin-bottom: 34px; }

#map {
  width: 100%;
  height: 410px;
  padding: 0;
  margin: 0; }

.link_bottom {
  padding-top: 62px;
  padding-bottom: 62px; }
  .link_bottom h3 {
    font-size: 22px;
    line-height: 40px;
    text-align: center;
    font-weight: 300; }
  .link_bottom a {
    margin-left: 13px;
    font-size: 20px;
    font-weight: 300;
    line-height: 20px;
    color: #00d0f9; }

.footer {
  background-color: #000;
  color: #fff;
  font-family: "Myriad Pro";
  padding-top: 21px;
  padding-bottom: 22px;
  font-weight: 400;
  font-size: 13px;
  display: flex;
  align-items: center; }
  .footer-contacts {
    display: flex; }
  .footer-text {
    display: flex;
    align-items: center;
    justify-content: flex-end; }
  .footer-text_add {
    margin-right: 122px; }
  .footer-icon {
    position: absolute;
    left: 13%;
    top: 38%; }
    .footer-icon span {
      display: block; }
  .footer-text_mail {
    max-width: 272px;
    width: 272px;
    text-decoration: underline; }
    .footer-text_mail img {
      position: absolute;
      left: 372px;
      top: 41%; }
  .footer-text_col a {
    color: #00d1f9;
    text-decoration: underline;
    font-size: 13px;
    font-weight: 300; }
  .footer-text_tel {
    font-size: 18px;
    font-weight: 400;
    text-align: right; }
    .footer-text_tel a {
      text-align: right; }

@media screen and (max-width: 1199px) {
  -text {
    display: flex;
    align-items: center; }
  -text_add {
    width: 155px; }
  -icon {
    position: absolute;
    left: -1%;
    top: 29%; }
  -text_mail {
    width: 225px; }
    -text_mail img {
      position: absolute;
      left: 283px;
      top: 34%; }
  -text_col a {
    color: #00d1f9;
    text-decoration: underline;
    font-size: 13px;
    font-weight: 300; }
  -text_tel {
    font-size: 18px;
    font-weight: 400; }
    -text_tel a {
      text-align: right; }
  .nav-link {
    padding: 0 20px; }
  .menu-block {
    text-align: centers; }
  .menu-title {
    font-size: 24px;
    margin-bottom: 20px; }
  .menu-descr {
    margin-bottom: 55px; }
  .menu-advant__text {
    margin-bottom: 20px;
    margin-right: 45px; }
    .menu-advant__text img {
      margin-right: 8px; }
  .form-menu {
    width: 331px;
    height: 458px;
    margin-bottom: 40px;
    padding: 19px 25px; }
  .popup-form-header {
    font-size: 25px; }
  .wrapper-nav {
    margin-bottom: 48px; }
  .material {
    padding-top: 58px;
    padding-bottom: 58px; }
    .material-button {
      font-size: 12px;
      padding: 15px 50px; }
  .tools {
    padding-top: 58px;
    padding-bottom: 58px; }
    .tools-button {
      font-size: 12px;
      padding: 15px 50px; }
  .model {
    padding-top: 58px;
    padding-bottom: 58px; }
    .model-button {
      font-size: 12px;
      padding: 15px 50px; }
  .material-lego {
    left: 835px;
    top: -127px;
    width: 257px; }
  .model-lego {
    right: -385px;
    left: 434px;
    top: -42px;
    width: 257px; }
    .model-lego img {
      width: 277px; }
  .tools-lego {
    right: 546px;
    left: -298px;
    top: -87px; }
    .tools-lego img {
      width: 257px; }
  .footer-mail {
    display: none; } }

@media screen and (max-width: 992px) {
  .header {
    padding-top: 15px;
    padding-bottom: 15px; }
    .header-text {
      display: flex;
      align-items: center;
      flex-direction: column; }
      .header-text_add {
        margin-right: 15px;
        margin-bottom: 7px; }
      .header-text_col {
        font-size: 11px; }
      .header-text_tel {
        font-size: 16px;
        text-align: right; }
      .header-text_mail {
        padding-left: 31px; }
        .header-text_mail img {
          display: none; }
  img.header-icon {
    display: none; }
  .wrapper-nav {
    margin-bottom: 33px;
    padding-top: 15px;
    padding-bottom: 15px; }
  .menu-block {
    text-align: centers; }
  .menu-title {
    font-size: 24px;
    text-align: center; }
  .menu-descr {
    font-size: 17px;
    text-align: right;
    margin-bottom: 25px; }
  .menu-advant {
    margin-bottom: 5px;
    width: 107%; }
  .menu-advant__text {
    margin-bottom: 17px;
    font-size: 13px; }
  .form-menu {
    width: 315px;
    height: 415px;
    padding: 15px 18px;
    margin-left: 29px; }
    .form-menu__text {
      margin-bottom: 12px; }
    .form-menu__input {
      padding-top: 13px;
      padding-bottom: 13px; }
  .form-button {
    padding: 14px 42px; }
  .popup-form-header {
    font-size: 20px; }
  .popup-close {
    right: -19px;
    top: -34px; }
  .popup-form-header__sub span {
    font-size: 15px; }
  .popup-form__label label {
    font-size: 15px; }
  .section-title {
    font-size: 25px;
    margin-bottom: 20px; }
    .section-title::after {
      display: none; }
  .menu-link.menu-link_active {
    display: none; }
  .material-lego {
    display: none; }
  .tools-lego {
    display: none; }
  .model-lego {
    display: none; }
  .nav-link {
    padding: 0 7px; }
  .wrapper-nav {
    margin-bottom: 37px;
    padding-top: 25px;
    padding-bottom: 35px; }
    .wrapper-nav-block {
      height: 155px; }
  .slider-mat_right, .slider-tools_right, .slider-model_right {
    right: -27px; }
  .slider-mat_left, .slider-tools_left, .slider-model_left {
    left: -23px; }
  .tools {
    padding-top: 25px;
    padding-bottom: 35px; }
  .model {
    padding-top: 25px;
    padding-bottom: 0; }
  .contacts {
    padding-top: 35px;
    padding-bottom: 40px; }
    .contacts .section-title {
      margin-bottom: 25px; }
    .contacts-text {
      font-size: 18px;
      font-weight: 500;
      margin-bottom: 35px; }
      .contacts-text_middle a {
        color: #7c7c7c;
        text-decoration: underline; }
    .contacts-input {
      margin-right: 0;
      margin-bottom: 8px; }
      .contacts-input_comment {
        margin-bottom: 15px; }
    .contacts-button {
      margin-bottom: 15px; }
  .ordering {
    padding-top: 35px;
    padding-bottom: 0; }
    .ordering h2 {
      margin-bottom: 45px; }
    .ordering-sect {
      margin-bottom: 50px; }
      .ordering-sect_img {
        margin-bottom: 12px; }
        .ordering-sect_img img {
          width: 24%; }
      .ordering-sect-text {
        margin-bottom: 10px; }
  .shipping {
    padding-top: 35px;
    padding-bottom: 18px; }
    .shipping .section-title {
      margin-bottom: 45px; }
    .shipping-sect-text span {
      display: block;
      font-weight: bold; }
    .shipping-sect_img {
      margin-bottom: 12px; }
      .shipping-sect_img.ship img {
        padding-top: 15px;
        margin-bottom: 0; }
  .link {
    padding-top: 35px;
    padding-bottom: 0; }
    .link-block {
      padding-bottom: 40px; }
      .link-blockimg {
        margin-bottom: 14px; }
    .link_bottom {
      padding-top: 35px;
      padding-bottom: 40px; }
      .link_bottom h3 {
        font-size: 17px; }
      .link_bottom a {
        font-size: 16px; }
  .footer-block {
    display: flex;
    align-items: center;
    text-align: right; }
  .footer_img {
    display: none; }
    .footer_img_text {
      flex-direction: column; } }

@media screen and (max-width: 768px) {
  .header {
    margin-bottom: 15px; }
    .header-text_add, .header-text_mail {
      display: none; }
  .menu-link {
    z-index: 20;
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 45%;
    position: fixed;
    top: 20px;
    right: 51px; }
    .menu-link span, .menu-link span:before, .menu-link span:after {
      display: block;
      height: 2px;
      width: 18px;
      position: absolute;
      right: 5%;
      margin-right: -1px;
      top: 50%;
      margin-top: -1px;
      background-color: #fff; }
    .menu-link span:before {
      -webkit-transition: all 0.2s;
      transition: all 0.2s;
      content: '';
      margin-top: -6px;
      background-color: #fff; }
    .menu-link span:after {
      transition: all 0.2s;
      content: '';
      margin-top: 4px;
      background-color: #fff; }
    .menu-link_active span {
      right: 5%;
      background-color: transparent; }
      .menu-link_active span:before {
        transform: rotate(-45deg);
        margin-top: 0;
        background-color: #fff; }
      .menu-link_active span:after {
        transform: rotate(-138deg);
        margin-top: 0;
        background-color: #fff; }
  .popup {
    width: 440px; }
    .popup-form {
      padding: 35px 32px 50px 32px; }
    .popup__input {
      text-align: center;
      margin: auto;
      margin-bottom: 12px;
      width: 79%; }
  .nav-menu {
    background-color: purple;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    justify-content: center;
    align-items: center;
    display: flex;
    right: -100vw; }
    .nav-menu li {
      padding: 0;
      list-style: none;
      text-align: center; }
      .nav-menu li a {
        color: #fff;
        line-height: 4;
        letter-spacing: 5px;
        font-weight: 100; }
        .nav-menu li a:hover {
          display: block;
          width: 100vw;
          text-decoration: none;
          background-color: #fff; }
  .footer-mail {
    display: none; }
  .wrapper-nav {
    display: none; }
  .form-menu {
    display: none; } }

@media screen and (max-width: 576px) {
  .popup {
    width: 440px; }
    .popup-form {
      padding: 27px 32px 23px 31px; }
      .popup-form__input {
        text-align: center;
        margin-bottom: 12px;
        width: 303px; }
    .popup-header {
      font-size: 20px; }
      .popup-header span {
        font-size: 15px; }
  .popup-close {
    right: 63px;
      right-top: -8px; }
  .popup-title {
    font-size: 17px; } }

@media screen and (max-width: 375px) {
  .header-text_tel {
    margin-top: 35px; }
  .header_add {
    margin-right: 15px; }
  .header_col {
    font-size: 11px; }
  .header_tel {
    font-size: 16px;
    text-align: right; }
  .header_mail {
    padding-left: 15px; }
    .header_mail img {
      padding-left: 53px; }
  .header-icon_span {
    display: block; }
  .menu {
    padding-bottom: 20px; }
    .menu-link {
      margin-right: 10px; }
    .menu-title span {
      display: block; }
    .menu-descr {
      text-align: center; }
    .menu-advant {
      margin-left: 20px; }
      .menu-advant_indent {
        padding-left: 7px; } }

body {
  background-color: #fff;
  font-family: Proxima Nova, sans-serif;
  color: #000000; }

a {
  color: #fff;
  text-decoration: none; }
